body {
	color: #FFFFFF;
	background-color: #37384C;
	font-size: 15pt;
}

tiny {
	font-size: 5pt;
}

.main {
	border-radius: 5px;
	background-color: #6C72BA1A;
	align-content: center;
}

.horizontal {
	float: left;
}

.dark {
	background-color: #37384C;
	color: #FFFFFF;
}

.atBottom {
	vertical-align: bottom;
}

.margined {
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px 5px 5px 5px;
}

.hidden {
	display: none;
}

#canvasMain {
	width:  675px;
	height: 300px;
}

#UwU {
	color: #ffffff33;
}